.category{
    display: flex;
    padding: 10px 0px 30px;
    justify-content: space-between;
}

.btn1{
    padding: 6px 13px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    color: white;
    font-family: Roboto;
    background-color: rgb(25, 24, 24);
}

.btn2{
    padding: 6px 13px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    background-color: #efefef;
    font-family: Roboto;
}